<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block titulo %}
            {% endblock %}
        </title>
        <!--Ativar as Configurações para o Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <!--Ativar as Configurações para o Tailwin -->
        <script src="https://cdn.tailwindcss.com"></script>

        {% block head %}
        {% endblock %}

    </head>
    <body class="bg-black text-gray-100 font-primary">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}

        <!-- Formatação Especial para Barra de Navegação na hora de dar um Scroll na Tela -->
        <!-- COPIAR ESSE COMENTÁRIOS NA POSIÇÃO CORRETA -->
        <!-- Se o Scroll da Página não passar de 100, a Barra de Navegação ficará Invisível -->
        <!-- Se o Scroll da Página for maior que o Tamanho da Tela, a Barra de Navegação não irá aparecer -->
        <!-- Se o Scroll da Página passar de 100 mas for menor que o Tamanho da Tela, a Barra de Navegação
        irá aparecer com o Fundo Cinza-->
        <script>

            const nav = document.querySelector('nav')

            document.addEventListener("scroll",e=>{
                if(scrollY>100){
                    if(scrollY>window.innerHeight){
                    nav.classList.add('invisible')
                }else{
                    nav.classList.add('bg-gray-900')
                    nav.classList.remove('invisible')
                }
                }else{
                    nav.classList.remove('bg-gray-900')
                    nav.classList.remove('invisible')
                }
            })
        </script>


        <!-- Usar um Ícone -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>